@{
    ViewBag.Title = "Comparison";
}

<div id="compare-landing">
    <div class="container-fluid mt-2">
        <h2>@ViewBag.Title</h2>
        <div class="row pt-30 justify-content-center">
            <div class="col-sm-1 pt-150">
                <p class="pt-2"><strong>Sku</strong></p>
                <p class="pt-2"><strong>Name</strong></p>
                <p class="pt-2"><strong>Size</strong></p>
                <p class="pt-2"><strong>Calories</strong></p>
                <p class="pt-2"><strong>Carbohydrate</strong></p>
                <p class="pt-2"><strong>Cholesterol</strong></p>
                <p class="pt-2"><strong>Fat</strong></p>
                <p class="pt-2"><strong>Fiber</strong></p>
                <p class="pt-2"><strong>Protein</strong></p>
                <p class="pt-2"><strong>Sodium</strong></p>
                <p class="pt-2"><strong>Sugar</strong></p>
            </div>
            <div class="col-11 w-100">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3" v-for="beverage in selectedBeverages">
                                <img :src="beverage.PrimaryImage" alt="product image" />
                                <p class="pt-2" align="center">{{beverage.Sku}}</p>
                                <p class="pt-2" align="center">{{beverage.MarketingName}}</p>
                                <p class="pt-2" align="center">{{beverage.Size}}</p>
                                <p class="pt-2" align="center">{{beverage.Calories}}</p>
                                <p class="pt-2" align="center">{{beverage.Carbohydrate}}</p>
                                <p class="pt-2" align="center">{{beverage.Cholesterol}}</p>
                                <p class="pt-2" align="center">{{beverage.Fat}}</p>
                                <p class="pt-2" align="center">{{beverage.Fiber}}</p>
                                <p class="pt-2" align="center">{{beverage.Protein}}</p>
                                <p class="pt-2" align="center">{{beverage.Sodium}}</p>
                                <p class="pt-2" align="center">{{beverage.Sugar}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/src/compare-landing.js")
